
/* General */
html, body{
    height: 100% !important;
    margin: 0;
    overflow-x: hidden;
}
body {
    display: flex !important;
    flex-direction: column !important;
}
.wrapper{
    min-height: calc(100vh - 70px) !important;
}
a{
    text-decoration: none !important;
}
/* About Home **/
.about-home{
    margin: -25px 0 0 0;
}
/* Card */
.about p{
    font-size: 1.175rem !important;
}
.card p {
    font-size: 1.175rem !important;
}
.profile .card-title {
    margin: 5px 0px 0px 0px;
}
.home-title-margin{
    margin: -50px 0 25px 0;
}
.page-section{
  padding: 6rem 0 2rem 0 !important;
}
.taught p{
    font-size: 1.175rem !important;
}
.large-icon{
    font-size: 4rem !important;
}
.large-icon-minecraft{
    font-size: 6rem !important;
}
nav .nav-link{
    font-size: 1.175em !important;
}
.breadcrumb-link{
    font-size: 1.175rem !important;
}
.about p{
    text-indent: 50px;
}
.course-info p{
    text-indent: 50px;
    line-height: 25px;
}
.btn-google{
    color: #fff !important;
    background: #ea4335 !important;
}
.btn-facebook {
    color: #fff !important;
    background-color: #3b5998 !important;
  }
table > :not(caption) > * > * {
    background: transparent !important;
    border-bottom-width: 0px !important;
}
.btn-close{
    color: #fff !important;
}
.courses .card{
    border-style: none !important;
}
.social-media-circle{
    position: relative;
    padding: 1px 5px;
    border-radius: 50%;
    font-size: 0.7em;
    background: #0CC0DF;
    color: #fff;
    text-align: center;
    margin-left: -8px;
    top: -5px;
}
/* Navigation */
@media (max-width: 992px) {
    .cart-number{
        top: 100px;
        right: auto;
    }
}
.nav-profile-image {
    width: 30px !important;
    height: 30px !important;
}
.profile-image{
    width: 150px !important;
    height: 150px !important;
}
.cart-number{
    position: relative;
    padding: 1px 5px;
    border-radius: 50%;
    font-size: 0.7em;
    background: #0CC0DF;
    color: #fff;
    text-align: center;
    margin-left: -8px;
    top: -5px;
}
nav .nav-link:hover{
    color: #dbdc1f !important;
}
.content img{
    width: 100% !important;
    border-radius: 15px;
}
.pricing-list{
    list-style: none !important;
}
/* Footer */
.footer{
    flex-shrink: 0 !important;
}
